<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let item of itemFromRes">
    <div class="card text-center">
      <div class="card-body">
        <!-- Info -->
        <div class="text-left">
          <button type="button" class="btn btn-outline-secondary" 
            ngbPopover={{item.count}} 
            triggers="mouseenter:mouseleave" popoverTitle="Item info">
            Info
          </button>
          <!-- Edit item -->
          <img *ngIf='isAdmin()' id="pencil" (click)="editItem(item)" title="Edit" src="../../../assets/Images/edit.png">
          <!-- End Edit -->
        </div>
          <!-- info End -->
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">{{item.type}}</p>
        <!-- buttons -->
          <button  id="buyButton" class="btn btn-success" (click)="getItemData(item)" data-target="#buyModal" data-toggle="modal" style="cursor:pointer" type="button">Buy</button>
          <br>
          <div *ngIf="isAdmin()">
            <img title="Delete" id="pencil" (click)="getItemData(item)" data-toggle="modal" data-target="#DeleteModal" src="../../../assets/Images/rubbish-bin.png">
          </div>
          <!-- End buttons -->
      </div>
      <div class="card-footer number-muted">
        Price {{item.price}} ֏
      </div>
    </div>
  </div>
</div>

<!-- PopUp Modal Delete-->
<div>
    <div class="modal fade" id="DeleteModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" class="text-left">Delete</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p><b>Are you sure want to delete this item?</b></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" (click)="buy()" data-dismiss="modal">Delete</button>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Delete End -->

<!-- PopUp Modal Buy-->
<div>
  <div class="modal fade" id="buyModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" class="text-left">Buy</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p><b>Are you sure want to buy this item?</b></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="addToCart()" data-dismiss="modal">Add to Cart</button>
          <button type="button" class="btn btn-success" (click)="buy()" data-dismiss="modal">Buy</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Buy End -->

