#buyButton {
  margin-bottom: 5px;
  margin-left: 15px;
  cursor: pointer;
}

#pencil {
  cursor: pointer;
  height: 20px;
  width: 20px;
  float: right;
}

#garbage {
  cursor: pointer;
  height: 20px;
  width: 20px;
  float: right;
}

#inputID {
  width: 60px;
}

#input {
  width: 60px;
  border-radius: 5px; 
}

#detailView:hover {
  text-decoration: underline;
  cursor:pointer;
}