<div class="card text-center">
  <div class="card-body">
    <div class="text-left">
      <!-- Info -->
      <button type="button" id="info" class="btn btn-outline-secondary"
        ngbPopover={{ComingItems.count}} 
        triggers="mouseenter:mouseleave" popoverTitle="Item info">
        Info
      </button>
      <!-- info End -->
      <!-- Edit item -->
      <img *ngIf='isAdmin()' id="pencil" title="Edit" 
        (click)="editItem(ComingItems)" src="../../../assets/Images/edit.png">
      <!-- End Edit -->
    </div>
    <h5 class="card-title" id="detailView" (click)="detailview(ComingItems)">{{ComingItems.title}}</h5>
    <p class="card-text">{{ComingItems.type}}</p>
      <input id="input"  type="number" min="1" max="{{ComingItems.count}}" value="1" [(ngModel)]="buyingItemQuantity">
    <!-- buttons -->
      <button id="buyButton" class="btn btn-success"
        data-target="#buyModal" data-toggle="modal"  (click)="showModal=true" type="button">Buy</button>
      <br>
      <div *ngIf="isAdmin()">
        <img id="garbage" title="Delete" data-target="#DeleteModal" (click)="showModal = true"
          data-toggle="modal" src="../../../assets/Images/rubbish-bin.png">
      </div>
      <!-- End buttons -->
  </div>
  <div class="card-footer number-muted">
    Price {{ComingItems.price}} ֏
  </div>
</div>
  
<!-- PopUp Modal Delete-->
<div *ngIf="showModal">
    <div class="modal fade" id="DeleteModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" class="text-left">Delete</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p><b>Are you sure want to delete this item?</b></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" (click)="deleteItem(ComingItems)" 
              data-dismiss="modal">Delete</button>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- Delete End -->
  
<!-- PopUp Modal Buy-->
<div *ngIf="showModal">
  <div class="modal fade" id="buyModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" class="text-left">Buy</h4>
          <button type="button" class="close" 
            data-dismiss="modal">&times;</button>
          </div>
        <div class="modal-body">
          <p><b>Are you sure want to buy this item?</b></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="addToCart(ComingItems)" 
          data-dismiss="modal">Add to Cart</button>
          <button type="button" class="btn btn-success" (click)="buy(ComingItems)" 
          data-dismiss="modal">Buy</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Buy End -->

  