<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/item" >Sweets</a>
  <button class="navbar-toggler" type="button"
    data-toggle="collapse" data-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" *ngIf="isAdmin()" 
          routerLink="/add" style="cursor:pointer" routerLinkActive="active">Add</a>
      </li>
    </ul>

    <!-- Search -->
    <div class="input-group">
      <form class="navbar-form navbar-left">
        <input id="search" type="search" class="form-control" (keydown.enter)="searchingItem()" 
        [(ngModel)]="searchingItemName" name="name" placeholder="Search" 
        aria-label="Example text with button addon" aria-describedby="button-addon1">
      </form>
      <img src="../../../assets/Images/search.png" style="cursor: pointer;" (click)="searchingItem()" id="searchIcon">
    </div>
    <!-- Search End -->

    
    <div *ngIf ="loggedIn()">
      <span style="color: red;" >You have to pay {{userMustPayData}}</span>  
    </div>
    <img src="../../../assets/Images/shopping-cart.png" id="shopping-cart" routerLink="/shoppingcart" *ngIf="loggedIn()" style="cursor:pointer" >
    <ul class="navbar-nav ml-auto">
      <a class="nav-link" *ngIf="!loggedIn()" 
        style="cursor:pointer" routerLink="/login" routerLinkActive="active">Login</a>
      <a class="nav-link" *ngIf="!loggedIn()" 
        style="cursor:pointer" routerLink="/register" routerLinkActive="active">Register</a>
      <a class="nav-link" *ngIf="loggedIn()"  
        style="cursor:pointer" data-toggle="modal" data-target="#LogoutModal" routerLinkActive="active">Logout</a>
    </ul>
  </div>
</nav>

<!-- PopUp Modal -->
<div>
    <div class="modal fade" id="LogoutModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" class="text-left">Logout</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p><b>Are you sure want to logged out?</b></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" (click)="logoutUser()" data-dismiss="modal">Logout</button>
          </div>
        </div>
      </div>
    </div>
</div>