<div *ngIf="!noItem">
    <h1 style="color: white">Cart is empty.</h1>
</div>
<div id="buyAllbutton" *ngIf='noItem'>
  <button class="btn btn-danger" type="button" (click)="buyAll()">Buy All</button>
  <div></div>
</div>
<div class="row mt-5" *ngIf="noItem">
  <div class="col-md-3 mb-3" *ngFor="let item of shoppingItemsArray">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">{{item.type}}</p>
        <!-- buttons -->
          <input class="text-center" type="number" id="inputID" min="1" max={{item.count}} 
          value={{item.quantity}}  (click)="inputNewQuantity($event.target.value, item.id)">
        <!-- <button id="buyButton" class="btn btn-success" (click)="buy(item)" 
          data-target="#buyModal" data-toggle="modal" style="cursor:pointer" type="button">Buy</button> -->
        <br>
        <div>
          <img title="Delete" id="pencil" (click)="showModal=true; getDeletingItem(item)" data-toggle="modal" 
            data-target="#DeleteModal" src="../../../assets/Images/rubbish-bin.png">
        </div>
        <!-- End button -->
      </div>
      <div class="card-footer number-muted">
        Price {{item.price}} ֏
      </div>
    </div>
  </div>
</div>



<!-- PopUp Modal -->
<div *ngIf="showModal">
  <div class="modal fade" id="DeleteModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" class="text-left">Remove</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p><b>Are you sure want to remove this item from cart?</b></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" (click)="delete()" data-dismiss="modal">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>