#image {
  margin-left: 5px;
}

#uploaded {
  color: green;
}

.image-upload-container {
  cursor: pointer;
}

.img-preview-container {
  background-color: #f7f7f7;
  position: relative;
  height: 150px;
  width: 200px;
}

.img-preview {
    background: center center no-repeat;
    background-size: contain;
    height: 150px;
    width: 150px;
    margin: auto;
}
