<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" ></span>
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Add Products</h3>
        </div>
        <div class="card-body">
          <form class="form">
              <div class="form-group">
                <label>Type</label>
                <input type="text" [(ngModel)]="addItemData.type" name="type" class="form-control rounded-0" required>
              </div>
  
              <div class="form-group">
                <label>Title</label>
                <input type="text" [(ngModel)]="addItemData.title" name="title" class="form-control rounded-0"  required>
              </div>

              <div class="form-group">
                  <label>Price</label>
                  <input type="number" [(ngModel)]="addItemData.price" name="price" class="form-control rounded-0" required>
              </div>

              <div class="form-group">
                <label>Count</label>
                <input type="number" (keydown.enter)="addData()" [(ngModel)]="addItemData.count" name="count" class="form-control rounded-0">
              </div>

              <div class="form-group">
                <label>Image</label>
                <input type="file" (change)="getItemEvnet($event)" name="image" class="form-control rounded-0">
              </div>

              <button type="button" (click)="addData()" class="btn btn-primary float-right">Add</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
  