#input {
  float: right;
  margin-right: 55px;
  width: 60px;
  text-align: center;
}

#style {
  font-weight: bold;
}

#container {
  width: 700px; 
  margin-top: 50px; 
  margin-left: auto; 
  margin-right: auto;
  height: 450px;
}

#Buybutton {
  margin-bottom: auto;
}

#IMG {
  max-width: 400px;
  max-height: 400px;
}