<div class="card" id="container" style="width: 18rem;">
    <img class="card-img-top" src="../../../assets//Images/SugarDrop.png">
    <div class="card-body">
      <h5 class="card-title">{{itemFromPassingData.title}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <p class="list-group-item"><span id="style">Type</span> {{itemFromPassingData.type}}</p>
      <p class="list-group-item"><span id="style">Count</span> {{itemFromPassingData.count}}</p>
      <p class="list-group-item"><span id="style">Price</span> {{itemFromPassingData.price}}</p>
      <p class="list-group-item"><span id="style">Quantity</span><input id="input" type="number" max={{itemFromPassingData.count}} [(ngModel)]="buyingItemQuantity"></p>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>