<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let item of itemFromRes">
    <div class="card text-center">
      <div class="card-body">
        <!-- Info -->
        <div class="text-left">
          <button type="button" class="btn btn-outline-secondary" 
            ngbPopover={{item.count}} 
            triggers="mouseenter:mouseleave" popoverTitle="Item info">
            Info
          </button>
          <!-- Edit item -->
          <img *ngIf='isAdmin()' id="pencil" (click)="editItem($event, item)"  src="../../../assets/Images/pencil.png">
          <!-- End Edit -->
        </div>
          <!-- End -->
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">{{item.type}}</p>
        <!-- buttons -->
            <button id="buyButton" class="btn btn-primary" (click)='buy()' style="cursor:pointer" type="button">Buy</button>
            <br>
            <div *ngIf="isAdmin()">
              <button class="btn btn-danger" (click)="deleteItem($event, item)">Delete</button>
            </div>
          <!-- End buttons -->
      </div>
      <div class="card-footer number-muted">
        Price {{item.price}} ֏
      </div>
    </div>
  </div>
</div>
    
    