<!DOCTYPE html>
<html>
  <head></head>
  <!-- Navbar  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand"  routerLink="/item" (click)="boolClick()" id='id' >Sweets</a>
      <button class="navbar-toggler" type="button" 
        data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" *ngIf="_authService.isAdmin()" 
            style="cursor:pointer" (click)="boolClick()" routerLink="/add" routerLinkActive="active">Add</a>
        </li>
      </ul>
      <!---------------  Search ----------------- -->
      <div class="input-group">
        <input type="search" class="form-control" 
          data-clear-btn="true"
          (keydown.enter)="onNameKeyUp($event)"
          (keydown.enter)="Search()" 
          placeholder="Search">
      </div>
      <!-- End -->

      <!-- logout login register  -->
      <ul class="navbar-nav ml-auto">
        <a class="nav-link" *ngIf="!_authService.loggedIn()" 
        style="cursor:pointer" routerLink="/login" 
        (click)="boolClick()" routerLinkActive="active">Login</a>
        
        <a class="nav-link" *ngIf="!_authService.loggedIn()" 
        style="cursor:pointer" routerLink="/register" 
        (click)="boolClick()" routerLinkActive="active">Register</a>
        
        <a class="nav-link" *ngIf="_authService.loggedIn()"  
        style="cursor:pointer" (click)="Logout()"
        (click)="boolClick()" routerLinkActive="active">Logout</a> 
      </ul>
      <!-- End -->
    </div>
  </nav>   
  <!-- Navbar End  -->

  <!--///////////////////////////////   Body   /////////////////////////////////////////-->

  <!------------------- Searching Item Respons ----------------------->
    <div class="container">
      <div *ngIf="!found">
        <router-outlet></router-outlet>
      </div>
      <div class="searchResult" *ngIf="found">
        <div class="row mt-5">
          <div class="col-md-4 mb-3" *ngFor="let item of itemFromRes">
            <img class="card-img-top" src="../../assets/images/Mars.jpg" alt="Card image cap">
            <div class="card text-center">
              <div class="card-body">
                <!-- Info -->
                <div class="text-left">
                  <button type="button" class="btn btn-outline-secondary" 
                    ngbPopover={{item.count}} 
                    triggers="mouseenter:mouseleave" popoverTitle="Item info">
                    Info
                  </button>
                </div>
                <!-- End -->
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.type}}</p>
                <!-- buttons -->
                <div>
                    <button class="btn btn-primary" id="buyButton" (click)='buy()' style="cursor:pointer" type="button">Buy</button>
                    <br>
                    <button *ngIf="_authService.isAdmin()" (click)="deleteItem($event, item)" id="deleteButton" class="btn btn-danger">Delete</button>
                </div>
      
              </div>
              <div class="card-footer number-muted">
                Price {{item.price}}
              </div>
            </div>
          </div>
        </div>    
      </div>    
    </div>
</html>
