<!DOCTYPE html>
<html>
  <!-- Navbar  -->
  <app-nav-bar></app-nav-bar>   
  <!-- Navbar End  -->

  <!--///////////////////////////////   Body   /////////////////////////////////////////-->

  <!------------------- Searching Item Respons ----------------------->
    <div class="container">
      <div *ngIf="!found">
        <router-outlet></router-outlet>
      </div>
      <div class="searchResult" *ngIf="found">
        <div class="row mt-5">
          <div class="col-md-4 mb-3" *ngFor="let item of itemFromRes">
            <img class="card-img-top" src="../../assets/images/Mars.jpg" alt="Card image cap">
            <div class="card text-center">
              <div class="card-body">
                
                <!-- Info -->
                <div class="text-left">
                  <button type="button" class="btn btn-outline-secondary" 
                    ngbPopover={{item.count}} 
                    triggers="mouseenter:mouseleave" popoverTitle="Item info">
                    Info
                  </button>
                </div>
                <!-- End -->

                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.type}}</p>
                
                <!-- buttons -->
                <div>
                  <button class="btn btn-primary" id="buyButton" (click)='buy()' style="cursor:pointer" type="button">Buy</button>
                  <br>
                  <button *ngIf="_authService.isAdmin()" (click)="deleteItem($event, item)" id="deleteButton" class="btn btn-danger">Delete</button>
                </div>
      
              </div>

              <div class="card-footer number-muted">
                Price {{item.price}}
              </div>

            </div>
          </div>
        </div>    
      </div>    
    </div>
</html>
