<html>
<head>
</head>
  <div class="row mt-5"> 
    <div class="col-md-4 mb-3" *ngFor="let item of item">
      <img class="card-img-top" src="../../assets/images/Mars.jpg" alt="Card image cap">
      <div class="card text-center">
        <!-- <p class="text-left" id="i1">Info</p> -->
        <a  id="i1" style="cursor:pointer" data-toggle="modal" data-target=".bd-example-modal-sm">Info</a>
        <div class="modal fade bd-example-modal-sm">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              {{item.price}}
            </div>
          </div>
        </div>

        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.type}}</p>
          <!-- <p class="card-text">{{item.info}}</p> -->
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
        <div class="card-footer number-muted">
          Price {{item.price}}
        </div>
      </div>
    </div>
  </div>
</html>
  


<!-- <div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let item of item">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">{{item.type}}</p>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
      <div class="card-footer number-muted">
        Price {{item.price}}
      </div>
    </div>
  </div>
</div> -->

