<!DOCTYPE html>
<html lang="en">
<head> </head>
<body>
  <div class="row mt-5">
      <div class="col-md-4 mb-3" *ngFor="let item of item">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.type}}</p>
            <button (click)='buyBotton()'  type="button" class="btn btn-primary">Buy</button>
          </div>
          <div class="card-footer number-muted">  
            <a class="card-text">Price</a>
            {{item.price}}
          </div>
        </div>
      </div>
  </div>  

</body>
</html>
  